body {
    background-color: #6f9b8b;
    color: black;
}

button {
    background-color:#ffe38d;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font: size 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.quiz-container {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #616B75;
}

.quiz-info, #start-button {
    display: inline-block;
    margin-right: 10px;
}

/* Ensure text color is black for all text elements */
p, h1, h2, h3, h4, h5, h6, li, a {
    color: black!important;
}

