body {
    background-color: #6f9b8b;
    color: #1f2f3e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.d-none {
    display: none;

}

/* styling all buttons */
button {
    background-color: #ffe38d;
    color: #1f2f3e;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

/* styling for h1 area */
h1 {

    font-size: xx-large;
    text-align: center;
}

.quiz-info p {
    background-color: #ffe38d;
    font-size: 15px;
}


.quiz-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.quiz-info,
#start-button {
    margin-right: 10px;

}


#timer {
    /* styling for timer area */
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    color:#1f2f3e;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffe38d;
}
#result-area {
    /* styling for result area */
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    color:#1f2f3e;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffe38d;
}


/* Ensure text color is black for all text elements */
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
    color:#1f2f3e;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .quiz-container {
        width: 90%;
    }
}